body
{
	background-color: #2B2F34;
	color: #C1C1C7;
	font-family: verdana, sans-serif !important;
	font-size: 11pt;
}
.pageWidth
{
	max-width: 100%;
}
.pageWidth .logo1
{
	float: left;
	width: 272px;
	height: 74px;
	background: url(img/logo.gif) no-repeat left;
}
.pageWidth .logo2
{
	height: 28px;
	padding-bottom: 46px;
	background: url(img/rac.png) no-repeat top right;
}
.pageWidth .logo3
{
	float: right;
	width: 189px;
	height: 45px;
	margin-top: 29px;
	background: url(img/shbg.gif) no-repeat right;
}
.pageWidth .helper
{
	top: 28px;
	width: 100%;
	height: 45px;
	position: absolute;
	border-top: 1px solid #CECED6;
	background-color: #242629;
	z-index: -10;
}
table
{
	font-size: inherit;
}
a,
a:visited
{
	color: #DDDDDD;
}
.mainmenu {
	border-top: 1px solid #CBCED4;
	border-bottom: 1px solid #CBCED4;
	background-color: #336600;
	color: #B9B9BD;
	font-size: 13px;
	position: relative;
	height: 18px;
	top: 0px;
}
.mainmenu a
{
	color: inherit;
	text-decoration: none;
}
.menulogo
{
	display: none !important;
}
.logoplace
{
	padding: 6px !important;
	background: none !important;
	pointer-events: none;
	cursor: none;
}
.menubtn
{
	float: left;
	display: inline;
	padding: 1px 17px;
	cursor: pointer;
	text-transform: uppercase;
	background: url(img/raz.gif) no-repeat left;
}
.menubtn p
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.menubtn:hover
{
	background-color: #295200;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.multi
{
	position: relative;
	float: left;
}
.submenu
{
	display: none;
	position: absolute;
	top: 18px;
	left: 0px;
	padding: 2px;
	background: #44474F;
	border-top: 1px solid #C1C1C7;
	border-left: 1px solid #2B2D30;
	border-right: 1px solid #2B2D30;
	border-bottom: 1px solid #2B2D30;
	z-index: 2;
	-webkit-box-shadow: 0px 3px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 0 rgba(0,0,0,0.2);
	-khtml-box-shadow: 0px 3px 0 rgba(0,0,0,0.2);
	box-shadow: 0px 3px 0 rgba(0,0,0,0.2);
}
.submbtn
{
	width: 126px;
	height: 18px;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 0px;
}
.submbtn p
{
	margin-top: 2px;
	margin-bottom: 2px;
}
.submbtn:hover
{
	background-color: #222426;
	border-radius: 4px;
}
.mbsel,
.smsel
{
	color: white;
}
p.failure
{
	color: white;
	background-color: black;
	border: 16px solid black;
	border-radius: 20px;
	margin: 8px;
	font-size: 13px;
	font-family: verdana,tahoma,arial;
}
p.failure b
{
	background-color: #B40000;
	font-size: 16px;
	width: 100%;
	display: block;
	padding: 4px;
	border-radius: 4px;
	margin-bottom: 12px;
}
.todo
{
	list-style-type: decimal;
	line-height: 140%;
}
.graphbkg
{
	background-color: #363940;
	padding: 4px;
	margin: 4px;
}
.graphbkg p
{
	margin-top: 16px;
	margin-bottom: 12px;
}
.graph {
	width: 100%;
	height: 95%;
}
.footer
{
	font-size: 10pt;
	padding: 1 6 3 6;
	background-color: #4C5357;
	border-top: 1px solid #CBCED4;
	border-bottom: 1px solid #CBCED4;
	text-align: right;
	margin-bottom: 12px;
	border-radius: 4px;
}
.fQuestion
{
	background: #222426;
	padding: 12 8 12 8;
	width: 100%;
	border-left: 2px solid #E3E3E5;
}
input[type=text],
input[type=password],
input[type=number],
input[type=file],
textarea,
select
{
	background-color: #44474F;
	border: 1px solid #2B2F34;
	border-radius: 3px;
	min-height: 25px;
	color: #D8D8DC;
	padding: 3 4 3 4;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=file]:focus,
textarea:focus,
select:focus
{
	border: 1px solid #C1C1C7;
	outline: 0;
}
input[type=submit],
input[type=button],
button
{
	background-color: #1C1E21;
	border: 1px solid #323C46;
	border-radius: 4px;
	color: #E3E3E5;
	font-size: 11px;
	font-family: Arial;
	text-align: center;
	line-height: 22px;
	outline: 0;
}
input[type=submit]:hover,
input[type=button]:hover,
button:hover
{
	background-color: #222426;
	border: 1px solid #2B2F34;
	border-radius: 4px;
	color: #C1C1C7;
}
input[type=submit]:focus,
input[type=button]:focus,
button:focus
{
	border: 1px solid #C1C1C7;
}
.swp
{
	background-color: #1C1E21;
	border: 1px solid #323C46;
	border-radius: 4px;
	color: #E3E3E5;
	font-size: 11px;
	font-family: Arial;
	text-align: center;
	line-height: 22px;
	width: 22px;
	cursor: hand;
}
.swp_sel
{
	background-color: #2B2F34;
	border: 1px solid #2B2F34;
	color: #E3E3E5;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-align: center;
	line-height: 22px;
	width: 22px;
	cursor: hand;
}
.swp:hover,
.swp_sel:hover
{
	background-color: #222426;
	border: 1px solid #2B2F34;
	border-radius: 4px;
	color: #C1C1C7;
}
table.st1
{
	font-size: 13px;
	border-collapse: collapse;
}
table.st1 th
{
	padding: 3px;
	color: #EDEDEF;
	font-weight: normal;
	border-top: 2px solid #2B2F34;
	border-bottom: 2px solid #2B2F34;
	border-left: 1px solid #363940;
}
table.st1 td
{
	padding: 3px;
	text-align: center;
	border-bottom: 1px solid #2B2F34;
	border-left: 1px solid #363940;
}
table.st1 tr th:nth-child(odd),
table.st1 tr td:nth-child(odd)
{
	background: #363940;
}
table.st1 tr th:nth-child(even),
table.st1 tr td:nth-child(even)
{
	background: #44474F;
}
.uploadbkg
{
	background-color: #363940;
	border-radius: 4px;
	padding: 3px;
}
.hint
{
	position: absolute; left: 0px; top: 0px; z-index: 1;
	border-style: solid;
	border-width: thin;
	border-color: #C1C1C7;
	border-radius: 3px;
	background-color: #44474F;
	margin-top: 1px;
}
.hval:hover
{
	color: #E3E3E5;
	background-color: #1C1E21;
}
hr
{
	border: 1px solid #CECED6;
	border-bottom: none;
}
.perc
{
	height: 10px;
	border: 1px solid #1C1E21;
	border-radius: 4px;
	display: inline-flex;
	position: relative;
}
.perc-data
{
	height: 10px;
	background-color: #1C1E21;
	display: inherit;
	position: relative;
}
table.st2
{
	background-image: url(img/bg.gif);
	background-repeat: repeat-y;
}
table.st2 td#stat_es.first
{
	border-top: 1px solid #646C71;
}
table.st2 td#stat_ft
{
	border-bottom: 1px solid #646C71;
}
table.st2 td#stat_es,
table.st2 td#stat_em
{
	cursor: pointer;
	padding-left: 23px;
	min-width: 176px;
	width: 176px;
	height: 25px;
	color: #B9B9BD;
	background: url(img/menu_off.gif) no-repeat 5px center;
}
table.st2 td#stat_es:hover,
table.st2 td#stat_em:hover
{
	color: #E1E1E6;
	background: url(img/menu_on.gif) no-repeat 5px center;
}
table.st2 td#stat_em
{
	min-width: 178px;
	width: 178px;
}
table.st2 td#stat_es.stat_sel,
table.st2 td#stat_em.stat_sel
{
	color: white;
	background: url(img/menu_on.gif) no-repeat 5px center;
}
table.st2 td#stat_cn
{
	width: 100%;
	padding-left: 4px;
	vertical-align: top;
}
.userTabs a
{
	text-decoration: none;
}
.userTab
{
	font-size: 13px;
	line-height: 19px;
	height: 22px;
	float: left;
	width: auto;
	padding: 0 15px 0 15px;
	vertical-align: baseline;
	background-color: #222426;
	border-top: 1px solid #222426;
	border-left: 1px solid #222426;
	border-right: 1px solid #222426;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 1px;
}
.userTab a
{
	color: #C1C1C7;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 2px;
}
.userTabActive
{
	font-size: 13px;
	line-height: 19px;
	height: 22px;
	float: left;
	width: auto;
	padding: 0 15px 0 15px;
	vertical-align: baseline;
	background-color: #2B2F34;
	border-top: 1px solid #222426;
	border-left: 1px solid #222426;
	border-right: 1px solid #222426;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.userTabActive a
{
	color: #C1C1C7;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	top: 2px;
}
.userCodeContainer
{
	border: 1px solid #222426;
	clear: both;
	margin-bottom: 12px;
	position: relative;
	top: -1px;
}
.userCode
{
	width: auto;
	margin: 0;
	padding-right: 21px;
	padding-left: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.userCode a
{
	font-weight: bold;
	text-decoration: none;
}

.content.stat
{
	padding-left: 0px;
	padding-top: 0px;
}

/*
 * copy from default theme
 */

.content {
	display: block;
	min-height: 71%;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.content.map {
	padding: 0px;
}
.content.find {
	padding-left: 8px;
	padding-right: 8px;
}
.content.ranges,
.content.devmac,
.content.graph,
.content.user {
	padding-top: 0px;
}
.modal {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 4;
}
.modal_bkg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.7;
}
.modal_cnt {
	min-width: 400px;
	min-height: 250px;
	margin: 0 auto;
	overflow: visible;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -125px;
	background: #353535;
	opacity: 0.975;
	border-radius: 10px;
	color: white;
	font-family: sans-serif;
	-webkit-box-shadow: 0px 0px 15px 6px rgba(255,255,255,0.6);
	-moz-box-shadow:    0px 0px 15px 6px rgba(255,255,255,0.6);
	box-shadow:         0px 0px 15px 6px rgba(255,255,255,0.6);
}
.modal_cnt h2 {
	background: #555;
	margin-top: 18px;
	margin-bottom: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.modal_cnt a {
	color: yellow;
	font-weight: bold;
}
.modal_cnt table {
	color: inherit;
}
.modal_main {
	height: 100%;
}
.modal_div {
	padding-top: 0px;
	height: 250px;
}
.todo li tt {
	font-weight: bold;
	color: yellow;
	background: black;
	border: 2px solid black;
	border-radius: 7px;
}
form {
	margin: 0;
}
.fAnswer {
}
.wrapper { position: relative }
.hval { cursor: pointer }
.userTabContainer {
	min-width:260px;
	clear:both;
}
.userTabs{
	vertical-align:middle;
	height:23px;
	position:relative;
	z-index:1;
}
.userCode div {
	padding:0;
	margin:0;
}
